@use '../../pages/style/theme.scss';

table,
tr,
th {
    border: 1px solid theme.$bg-primary;
}

table {
    width: 100%;

}

.headersName>th {
    padding: 5px 10px;
}

.firstName {
    background-color: theme.$bg-secondary;

}

.thFirstName {
    background-color: lighten($color: theme.$bg-secondary, $amount: 10);
}