@use '../../pages/style/theme.scss';

.containerEmployee {
    display: flex;
    align-items: center;
    margin: 20px 200px;

    .title {
        position: absolute;
        left: 45%;
    }
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 200px;

}

.img {
    width: 200px;
}

.link {
    font-size: 1.1em;
    text-decoration: none;
    padding: 10px;
    border: 1px solid theme.$bg-secondary;
    background-color: theme.$bg-secondary;
    color: #fff;
    border-radius: 5px;

    &:hover {
        text-decoration: underline;
        background-color: darken($color: theme.$bg-secondary, $amount: 5);
        box-shadow: 5px 5px 10px theme.$bg-secondary;
    }
}