@use '../../pages/style/theme.scss';

.containerEmployee {
    display: flex;
    align-items: center;
    margin: 10px 150px;

    .title {
        position: absolute;
        left: 40%;
        font-size: 3em;
        font-weight: normal;
        text-decoration: underline;
    }
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 150px 0 150px;

    .titleCreate {
        font-size: 3em;
        font-weight: normal;
        text-decoration: underline;
    }
}


.img {
    width: 200px;
}

.link {
    padding: 10px;
    text-decoration: none;
    font-size: 1.1em;
    border: 1px solid theme.$bg-secondary;
    background-color: theme.$bg-secondary;
    color: #fff;
    border-radius: 5px;

    &:hover {
        text-decoration: underline;
        background-color: darken($color: theme.$bg-secondary, $amount: 5);
        box-shadow: 5px 5px 10px theme.$bg-secondary;
    }
}